version: "3.9"
services:
  apigateway:
    container_name: ShopVerse
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    ports:
      - "8085:8085"
      - "8086:8086"
    environment:
      ASPNETCORE_HTTP_PORTS: 8085
      ASPNETCORE_HTTPS_PORTS: 8086
    depends_on:
      - orders
      - payments
      - inventory

  orders:
    build:
      context: .
      dockerfile: OrderService/Dockerfile
    ports:
      - "8090:8090"
    environment:
      ASPNETCORE_HTTP_PORTS: 8090

  payments:
    build:
      context: .
      dockerfile: PaymentService/Dockerfile
    ports:
      - "8092:8092"
    environment:
      ASPNETCORE_HTTP_PORTS: 8092

  inventory:
    build:
      context: .
      dockerfile: InventoryService/Dockerfile
    ports:
      - "8094:8094"
    environment:
      ASPNETCORE_HTTP_PORTS: 8094
